<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onemore.karungguniapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"  />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kg_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name = ".KGApp">

        <provider
            android:name="com.onemore.karungguniapp.AppDataProvider"
            android:authorities="com.onemore.karungguniapp.provider"
            android:exported="false"
            android:syncable="true">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/app_id" />

        <service android:name=".AccountService">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- This points to an XMLf file which describes our account service. -->
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>

        <service
                android:name=".SyncService"
                android:exported="true"
                android:process=":sync">
            <intent-filter>com.onemore.karungguniapp.provider
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name="com.onemore.karungguniapp.KarangGuniActivity"
            android:label="@string/title_activity_karung_guni" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.onemore.karungguniapp.Main"
            android:label="@string/app_name"
            android:theme="@style/noActionBarLight">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.onemore.karungguniapp.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/noActionBarLight" />
        <activity
            android:name="com.onemore.karungguniapp.SignupActivity"
            android:label="@string/app_name"
            android:theme="@style/noActionBarLight" />
        <activity
            android:name="com.onemore.karungguniapp.welcome"
            android:label="@string/app_name" />
         <activity
            android:name="com.facebook.LoginActivity"
           />
        <activity
            android:name="com.onemore.karungguniapp.KarungGuniActivity"
            android:label="@string/title_activity_karung_guni" >
        </activity>
        <activity
            android:name="com.onemore.karungguniapp.SellerActivity"
            android:label="@string/title_activity_seller" >
        </activity>
        <activity
                android:name="com.onemore.karungguniapp.NewAdActivity"
                android:label="@string/new_ad" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    </application>

</manifest>
